body {
    text-align: center;
}

.my_nav_bar {
    position: sticky;
    top: 0px;
    z-index: 99999;

}

.links:hover {
    color: aquamarine;
    padding-left: 25px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
    display: inline;
}
links{
    color: crimson;
    font-family: fantasy;
    padding: 500px;
}
.stphilip {
    margin-top: 30px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    font-size: 30px;
    color: coral;
    text-shadow: 2px 2px azure;

}

#img123{
    height: 250px;
}

#img321{
    border-radius: 50%;
    height: 50px;
}