body {
    text-align: center;
}

.my_nav_bar {
    position: sticky;
    top: 0px;
    z-index: 99999;

}

.links:hover {
    color: aquamarine;
    padding-left: 25px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
    display: inline;
}

links {
    color: crimson;
    font-family: fantasy;
    padding: 500px;
}

.stphilip {
    margin-top: 30px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    font-size: 30px;
    color: coral;
    text-shadow: 2px 2px azure;

}

#img123 {
    height: 300px;
}

#img321 {
    border-radius: 50%;
    height: 50px;
}


.about {
    width: 80%;
}

.stphi1 {
    font-family: cursive;
    font-size: 50px;
    text-align: center;
}

html {
    text-align: center;
}

#home {
    background: linear-gradient(#ffffff 0%, #ba190d 100%);
}

#about {
    background: linear-gradient(#ffffff 0%, #0a612e 100%);
}

#achievements {
    background: linear-gradient(#ffffff 0%, #d7f20c 100%);
}

.bg-primary movie_head,
.bg-primary picture_head {
    border-radius: 70px;
    height: 25px;
    width: 150px;
    font-size: 20px;
}

#image1{
    height: 50px;
    width: 50px;
}

.whats_new {
    text-align: center;
}